<div class="row">
    <div class="col-12">
        <div class="signin text-right">
           <button>Signin</button>
        </div>
    </div>
    <div class="col-6">
        <div class="ourbrand">
            branding
        </div>
    </div>
    <div class="col-6">
        title
    </div>
</div>
<div class="row detailgroup mt-5">
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="/detail/1">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="/detail/1">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="/detail/2">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-lg-3 p-2">
        <div class="eachgroup">
            <a href="">
                <img class="groupimgtop" src="/images/no-image.png" alt="Card image cap">
                <div class="groupinfo m-3">
                <h5 class="grouptitle">Sui Bear</h5>
                <p class="grouptext t7">detail</p>
                </div>
            </a>
        </div>
    </div>
</div>