<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ton-connect</title>
    <link rel="icon" type="image/jpg" href="/images/contributiondao.jpg">
    <%- include('head') %>
</head>
    <script>
        $(document).ready(async function () {
            $(".newtggroup").click(function(){
                $("#newtggroupmodal").modal("show");
            })
            $('#newtggroupmodal').on('hidden.bs.modal', function (e) {
                $(this).find("input").val('');
            })
            $(".btnjoinnew").click(async function() {
                $(".overlayload").show();
                let thisaddrform = $(this).closest(".newtggroupform");
                checkreqfill(thisaddrform,async function(isok,fillname){
                if(!isok){
                    $(".overlayload").hide();
                    alert(`Please fill ${fillname}`);
                    return;
                }
                else{
                    let id = thisaddrform.find('[name="tggroupid"]').val();
                    let inviteLink = thisaddrform.find('[name="invitelink"]').val();
                    let twitterUsername = thisaddrform.find('[name="username"]').val();
                    let token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZGRyZXNzIjoiMDpkNGEwODQyYTFkMjVjODRiMDE1Yjc4YzYxNDZkMzAxMjMwYzJlODBkOWEzNDZlMWM5NDdmOTlmZWZlZWRjNTM4IiwiZXhwIjoxOTk0MjE4MDY1fQ.RRg1NNS0VsF8K5nX_wSXrXeE6xtplmQ54aXpDXp5rWw'
                    fetch(`/grouplink`,{
                        method: 'POST',
                        headers: {
                            Authorization: "Bearer " + token,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id,inviteLink,twitterUsername})
                    })
                    .then(response => response.json())
                    .then(jsn => {
                        $(".overlayload").hide();
                        if (jsn.error) {
                          alert(jsn.msg);
                        } else {
                            if(jsn.statusCode != 200) {
                                alert("Bad request");
                            } else {
                                alert("success");
                                $("#newtggroupmodal").modal("hide");
                            }
                        }
                    })
                    .catch(error => {
                        $(".overlayload").hide();
                        alert(error)
                    });
                }
            });
        })
        async function checkreqfill(thisform,cb){
            let countclass = 1;
            let findfill = await $(thisform).find(".reqfill");
            for(let i =0;i<findfill.length;i++) {
                let form = findfill[i]
                let fillname = $('[name='+form.name+']').attr("fillname")
                if (!form.value || form.value.trim() == 0){
                    return cb(false,fillname);
                }
                if(countclass == findfill.length){
                    return cb(true,fillname);
                }
                countclass++;
            }
        }
    });
    </script>
<body>
    <%- include('./modal/newgroup'); %>
    <div class="overlayload">
        <div style="position: absolute;top: 50%;transform: translateY(-50%);width: 100%;text-align: center;">
            <i class="fa fa-spinner fa-spin spin-big"></i>
        </div>
    </div>
    <div class="container-fluid px-0 header">
        <div class="container-xxl py-2">
            <div class="d-flex justify-content-between align-items-center">
                <a href="/">
                    <image class="logoimg" src="/images/contributiondao.jpg"></image>
                    <span style="margin-left: 15px;">Test Ton SBT Gate</span>
                </a>
                <div>
                    <a href="https://ton-connect.contributiondao.com/connect/">
                        <button class="connectbtn mx-1">Connect Wallet</button>
                    </a>
                    <button class="newtggroup connectbtn mx-1">New Telegram Group</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl body-container">
        <%- include('./'+(typeof views!='undefined'?views:'home')); %>
    </div>
</body>
</html>