body {
  font-size: 18px;
  background-color: #8ecae6;
}
.container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.body-container {
  background-color: #8ecae6;
}
.header {
  color: white !important;
  background-color: #023047;
  /* position: sticky;
  top: 0;
  z-index: 1020; */
}
.header span {
  color: white !important;
}
a {
  text-decoration: none;
}
.logoimg {
  border-radius: 50%;
  width: 50px;
}
.bgimg {
  width: 100%;
  border-radius: 20px;
  max-height: 300px;
  object-fit: cover;
}
.ourbrand {
  border: 1px solid#d8d8d8;
  border-radius: 10px;
  background-color: black;
  color: white;
}
button {
  border: none;
}
.connectbtn {
  background-color: #8ecae6;
  color: black;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  float: right;
}
.eachgroup {
  background-color: #ffffff;
  border: 1px solid#d8d8d8;
  border-radius: 30px;
  overflow: hidden;
}
.groupimgtop {
  width: 100%;
  max-height: 130px;
  object-fit: cover;
}
.eachgroup a {
  text-decoration: none;
  color: black;
}
.detailimg {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  max-height: 300px;
  object-fit: cover;
}
.reviewbtn {
  border: 1px solid #023047;
  color: #023047;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
}
.reviewinfo {
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
}
.maintab .nav-tabs {
  border: none;
}
.maintab .nav-tabs .nav-link {
  color: black !important;
  font-size: 18px !important;
  border-radius: 5px;
}
.maintab .nav-tabs .nav-link:hover {
  border: 1px solid #023047;
}
.maintab .nav-link.active {
  background-color: #023047;
  color: #fff !important;
}
.maintab .nav-link.active:hover {
  border-bottom: none;
}
.partner-with-us {
  height: 200px;
}
.joinbtn {
  background-color: #023047;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
}
.joindiv {
  text-align: right;
}
.eachsbt {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}
.goto {
  background-color: #023047;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}
.bg-white {
  background-color: #ffffff;
}
.t7 {
  font-size: 18px;
}
.t8 {
  font-size: 16px;
}
@media screen and (max-width: 991.98px) {
  .joindiv {
    text-align: center;
  }
}
