<div class="modal fade newtggroupmodal" id="newtggroupmodal" role="dialog"  tabindex="-1" > 
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body py-1">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                <div class="newtggroupform p-4">
                  <div class="row">
                    <div class="form-group col-12">
                      <label for="name">Telegram group id<span class="color-primary-red">*</span></label>
                      <input type="text" fillname="Telegram group id" class="form-control reqfill" name="tggroupid" value="" placeholder=" ">
                    </div>
                    <div class="form-group col-12">
                      <label for="lname">Invite link<span class="color-primary-red">*</span></label>
                        <input type="text" fillname="Invite link" class="form-control reqfill" name="invitelink" placeholder=" "
                        value="">
                    </div>
                    <div class="form-group col-12">
                      <label for="lname">Twitter username<span class="color-primary-red">*</span></label>
                        <input type="text" fillname="Twitter username" class="form-control reqfill" name="username" placeholder=" "
                        value="">
                    </div>
                    <div class="col-12 text-center">
                      <button class="btn-ok text-center btnjoinnew">Continue</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>